
.dialog {
	position:fixed;
    z-index: 10;
	top: 40pt;
	display: none;
	border-radius: 3px;
	border: 2px solid #bbbbbb;
	background-color: #ffffff;
	width: 250pt;
	margin: 0 auto;
	padding: 6pt 20pt;
}

.dialog h2 {
	padding: 0px;
	margin: 0px auto;
	border-bottom: 1px solid #888888;
	font-size: 14pt;
}

.toast {
	position:fixed;
	left: 0;
	right: 0;
	margin: 0px auto;
	padding: 6pt 20pt;
	width: 250pt;
	text-align: center;
    z-index: 20;
	display: none;
	border-radius: 3px;
	border: 2px solid #bbbbbb;
	background-color: #666666;
	color: #ffffff;
	animation: toast 0.3s;
}

@keyframes toast {
	from { margin-top: -200px; }
	40% { margin-top: -50px; }
	to { margin-top: 0px; }
}
