
.dialog {
	position:fixed;
    z-index: 10;
	top: 40pt;
	display: none;
	border-radius: 3px;
	border: 2px solid #bbbbbb;
	background-color: #ffffff;
	width: 250pt;
	margin: 0 auto;
	padding: 6pt 20pt;
}

.dialog h2 {
	padding: 0px;
	margin: 0px auto;
	border-bottom: 1px solid #888888;
	font-size: 14pt;
}

.toast {
	position:fixed;
	left: 0;
	right: 0;
	margin: 0px auto;
	padding: 6pt 20pt;
	width: 250pt;
	text-align: center;
    z-index: 20;
	display: none;
	border-radius: 3px;
	border: 2px solid #bbbbbb;
	background-color: #666666;
	color: #ffffff;
	animation: toast 0.3s;
}

@keyframes toast {
	from { margin-top: -200px; }
	40% { margin-top: -50px; }
	to { margin-top: 0px; }
}

/* table */
th {
	background-color: #dddddd;
	min-width: 40pt;
}
th.node_name {
	min-width: 140pt;
}
td {
	background-color: #ccddff;
	padding: 3pt 2pt;
}
td.node_name {
	font-weight: bold;
	padding: 3pt 1pt;
}
td.number {
	text-align: right;
}

/* tabs */
.tab_group {
	position: relative;
	margin-top: 10pt;
}
.tab_group:after {
	  content: "";
	  clear: both;
	  display: block;
}
.tab {
	float: left;
}
.tab > label {
	float:left;
	position: relative;
	width: 80pt;
	margin-right:-1000pt;
	margin-bottom: -1px;
	padding: 8pt;
	background: #dddddd;
	border: 1px solid #cccccc;
}
.tab > input[type=radio] {
	display: none;
}
.tab > input[type=radio] + label ~ * {
	clear: both;
	margin-right: -1000pt;
	display: none;
	background: white;
	border: solid 1px #cccccc;
	margin-top: 20pt;
	min-width: 400pt;
	min-height: 150pt;
}
.tab > input[type=radio]:checked + label {
	z-index: 9;
	background: white;
	border-bottom: 1px solid white;
}
.tab > input[type=radio]:checked + label ~ * {
	display: block;
}

